

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .container {
     display: none !important; 
}
   
.ie {
     display: block !important; 
     padding: 0 10%; 
}

 .ie a {
       text-decoration: underline; 
 }
    
}