* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black; 
}

li {
list-style: none;
}
