// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@import '../abstracts/variables';

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;  
}

/**
 * Basic fade animation
 */

 @keyframes fade {
    0% {opacity: 0;};
    100% {opacity: 1;};
}

 a { //applies to social media links
  color: #333;
  text-decoration: none;
  transition: all .2s ease-in; 

  &:hover {
    // color: #a5a09e;
    // color: #f35931 
    color: $main-accent;
  }
  
 }

 p a {
    text-decoration: underline; 
  }