@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer', 
  'layout/general';

// 5. Components
@import
  'components/button', 
  'components/hero', 
  'components/project', 
  'components/about', 
  'components/detail';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
