%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.about {
    @extend %flex-row-center; 
    text-align: center; 

    background-image: url('dubai_zipline.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    &__main {
        padding-top: 7%; 
        max-width: 80%; 

        @media screen and (max-width: 700px) {
            padding-top: 20%; 
        }
    }

    img {
        width: 175px; 
        border-radius: 50%; 
        display: none; 

        @media screen and (max-width: 530px) {
            width: 150px; 
        }
    }

    &__p {

        p {
            background: rgba(255, 255, 255, 0.5);
        }

        padding-top: 3%; 

        @media screen and (max-width: 530px) {
            font-size: 1.4rem;
        }

        @media screen and (min-width: 531px) {
            font-size: 2rem; 
        }

         @media screen and (min-width: 1600px) {
            font-size: 3rem; 
        }
    }
    
    &__contact {
        @extend %flex-row-center; 
        flex-wrap: wrap; 
        justify-content: space-between;
        padding-top: 6%; 

        &-icon {
            padding-left: 5%; 
            font-size: 1.5rem; 

            a {
                color: rgba(239, 237, 236, 0.9);
                text-decoration: none;

            &:hover {
                color: #a5a09e; 
            }

            p {
                 background: rgba(0, 0, 0, 0.5);
            }
        } 

            @media screen and (max-width: 530px) {
                font-size: 1.2rem; 
                padding-left: 3%; 
            }

             @media screen and (max-width: 375px) {
                font-size: 1rem; 
                padding: auto; 
            }
        }
    }
}