%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.about {
    @extend %flex-row-center; 
    text-align: center; 

    &__main {
        padding-top: 7%; 
        max-width: 80%; 
    }

    img {
        width: 175px; 
        border-radius: 50%; 

        @media screen and (max-width: 530px) {
            width: 150px; 
        }
    }

    &__p {
        font-size: 1.7rem; 
        padding-top: 3%; 

        @media screen and (max-width: 530px) {
            font-size: 1.4rem;
        }
    }
    
    &__contact {
        @extend %flex-row-center; 
        flex-wrap: wrap; 
        justify-content: space-between;
        padding-top: 6%; 

        &-icon {
            padding-left: 5%; 
            font-size: 1.5rem; 

            @media screen and (max-width: 530px) {
                font-size: 1.2rem; 
                padding-left: 3%; 
            }

             @media screen and (max-width: 375px) {
                font-size: 1rem; 
                padding: auto; 
            }
        }
    }
}