%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.details {
    animation: fade 1s ease-in;

    &__project {
        @extend %flex-row-center; 
        padding-top: 2%; 

        @media screen and (max-width: 650px) {

            @media screen and (min-width: 375px) {
                padding-top: 10%; 
            }

            h3 {
                font-size: 1.2rem; 
            }
        }

        @media screen and (max-width: 1100px) and (min-width: 550px) {
            h3 {
                font-size: 2rem; 
            }
        }

        &--right {
            color: #777977; 
        }
    }

    &__main {
        @extend %flex-row-center;
        padding-top: 5%; 

        flex-wrap: wrap; 
    }

    &__video {

        @media screen and (min-width: 1300px) {
            width: 50%; 
        }

        @media screen and (min-width: 1600px) {
            width: 40%;
        }
         
    }

    &__text {
        width: 40%; 
        font-size: 1.5rem; 
        padding-left: 0.5rem; 

        @media screen and (max-width: 1100px) {
            width: 90%; 
            height: 200px; 
            overflow-y: scroll; 
            margin-top: 5%; 
        }
    }

    &__back {
        @extend %flex-row-center;
    }
}