%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.hero__text {
    // @extend %flex-col-center; 
    padding-top: 10%; 

    &--name {
        font-size: 4rem; 
        text-transform: uppercase; 
        @extend %flex-row-center; 
    }

    &--tagline  {
        @extend %flex-row-center; 
    }
}

.down {
    text-align: center; 
    position: relative; 
    bottom: -30%; 
}
