%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.hero {
    background-image: url('EssaouiraMedina.JPG'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.hero__text {
    padding-top: 10%; 
     &--name {
        font-size: 4rem; 
        text-transform: uppercase; 
        @extend %flex-row-center; 
    }

    &--tagline  {
        @extend %flex-row-center;

        @media screen and (min-width: 850px) {
            h1 {
            background: rgba(255, 255, 255, 0.7);
        }
    }   
    }
}

.down {
    text-align: center; 
    position: relative; 
    bottom: -30%; 
    color: #ddd; 
}

@media screen and (max-width: 700px) {
    .hero__text {
        &--name {
            font-size: 3rem; 
        }
    }
}

@media screen and (max-width: 530px) {
    .hero__text {
        &--name {
            font-size: 2rem; 
        }

        &--tagline  {
            font-size: 1rem; 
        }
    }   
}
