.section {
  overflow: hidden;
  padding-left: 25px;
  padding-right: 18px;
  max-width: 100vw; /*to account for the padding & box sizing : border box */
  margin-top: 0;

  @mixin atMedium {
    padding: 0 6rem;
  }

  &--mini {  /*The divs that contain section headers */
    height: 3rem;
    background-color: rgba(100, 200, 100, 0.5);
    margin: 0;

    @mixin atMedium {
      height: 6rem;
    }
  }

  &--small {  /*the intro paragraph below hero image */
    height: 18rem;
    margin: 0.5rem 0;
    background-color: rgba(200, 200, 200, 0.5);

    @mixin atMedium {
      height: 20rem;
    }
  }

  &--medium { /*the section right below "what i know/skills"*/
    @mixin atSmall {
      height: 30rem;
    }
  }


  /* ~~~~~ headers ~~~~~ */
  &__header--md {   /*"Hi there"*/
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0 0.2em 0;

    @mixin atMedium {
      font-size: 4em;
    }
  }

  &__header--lg { /*section titles*/
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 300;

    @mixin atMedium {
      font-size: 4rem;
    }
  }
/*~~~~~~~ content ~~~~~ */

  &__content--lg {         /*"I'm a web developer..."*/
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;

    @mixin atSmall {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}
